/*=============== NAV ===============*/
.nav {
  display: flex;
  align-items: center;
}
.register-account-btn {
  background-color:blue;


}
iframe {
  width:400px;
  height: 600px
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10rem;
}

.nav__link, .nav__logo, .nav__toggle {
  color: black;
  font-weight: 50%;
}

.content-start {
  display:flex;
  justify-content:start;
}
/*=============== HOME ===============*/

.home__title {
  font-size: 25px;
  font-weight: var(--font-bold);
  margin-bottom: 15px;
}

/*.home__description {
    padding: 15px;
    border-radius: 1rem;
    color: azure;
    background-color:hsl(196, 100%, 50%);

} */

/*=============== ABOUT ===============*/
.about__container {
  gap: 2.5rem;
}

.about__data {
  text-align: center;
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    column-gap: 5rem;
  }
}


/*.styles__poiField___1MV95 .styles__location___3el4p button{
  
  display: block;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 10px;
  font-size: 1.3rem;
  color: azure;
  background-color:hsl(196, 100%, 50%);
}*/

.cha-destination{
  display: flex;
  margin-bottom: 20px;
  font-size: 25px;
}

.deli-destination {
  display: flex;
  border-radius: 0.5rem;
  padding: 30px;
  width: 1000px;
  color: azure;
  background-color:hsl(196, 100%, 50%);
}



